#click-button {
    background-color: #000;
    border: solid;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.image-container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.description-container {
    display: none;
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.description-container p {
    padding: 20px;
    background-color: #ddd;
    border-radius: 10px;
}

.selected {
    border: 5px solid pink !important;
    transform: scale(1.5);
    width: 300px;
    height: auto;
}
