@page "/"
@using System.Runtime.InteropServices

<PageTitle>Index</PageTitle>

<h1><span style="color:red">❤</span>我们的合照<span style="color:red">❤</span></h1>

<img id="image" src=@src alt="Image" />
<br />
<button id="click-button" @onclick="RandomImage">🗘</button>


@code {
    private string src = "./images/IMG_2012.JPG";
    private void RandomImage()
    {
        var images = new string[] { "IMG_2012.JPG", "IMG_2037.JPG", "IMG_2367.JPG",
                                    "IMG_2371.JPG", "IMG_2420.JPG", "IMG_5426.JPG",
                                    "IMG_5709.JPG", "IMG_5760.JPG", "IMG_5838.JPG",
                                    "IMG_5879.JPG", "IMG_5917.JPG", "IMG_6064.JPG",
                                    "IMG_6092.JPG", "IMG_6171.JPG"

                                    };
        var random = new Random();
        var randomImage = images[random.Next(images.Length)];
        string temp = $"./images/{randomImage}";      
        src = temp;  
    }
}


